<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <table>
    <thead>
    <tr>
      <th class="<%= 'header-sorted ' + params[:direction] if params[:sort] == 'title' %>">
        <%= sortable "title", "Title" %>
        <% if params[:sort] == 'title' %>
          <%= params[:direction] == 'asc' ? "▲" : "▼" %>
        <% end %>
      </th>
      <th class="<%= 'header-sorted ' + params[:direction] if params[:sort] == 'rating' %>">
        <%= sortable "rating", "Rating" %>
        <% if params[:sort] == 'rating' %>
          <%= params[:direction] == 'asc' ? "▲" : "▼" %>
        <% end %>
      </th>
      <th class="<%= 'header-sorted ' + params[:direction] if params[:sort] == 'release_date' %>">
        <%= sortable "release_date", "Release Date" %>
        <% if params[:sort] == 'release_date' %>
          <%= params[:direction] == 'asc' ? "▲" : "▼" %>
        <% end %>
      </th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td class="<%= 'column-highlight' if params[:sort] == 'title' %>"><%= movie.title %></td>
        <td class="<%= 'column-highlight' if params[:sort] == 'rating' %>"><%= movie.rating %></td>
        <td class="<%= 'column-highlight' if params[:sort] == 'release_date' %>"><%= movie.release_date.strftime("%d-%b-%Y") %></td>
        <td><%= link_to "Show this movie", movie %></td>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4">Total Movies: <%= @movies.count %></td>
    </tr>
    </tfoot>
  </table>
</div>

<%= link_to "New movie", new_movie_path, class: "button" %>
