<p style="color: green"><%= notice %></p>

<h1>Movie Details</h1>

<table>
  <tr>
    <th>Title:</th>
    <td><%= @movie.title %></td>
  </tr>
  <tr>
    <th>Rating:</th>
    <td><%= @movie.rating %></td>
  </tr>
  <tr>
    <th>Description:</th>
    <td><%= @movie.description.presence || "No description available" %></td>
  </tr>
  <tr>
    <th>Release date:</th>
    <td><%= @movie.release_date.strftime("%Y-%m-%d") %></td>
  </tr>
</table>

<br>

<div class="button-group">
  <%= button_to "Edit this movie", edit_movie_path(@movie, sort: params[:sort], direction: params[:direction]), class: "button blue", method: :get %>
  <%= button_to "Back to movies", movies_path(sort: params[:sort], direction: params[:direction]), class: "button green", method: :get %>
  <%= button_to "Destroy this movie", @movie, method: :delete, class: "button red" %>
</div>
